*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}
.principal {
    background-color: rgb(18, 18, 18);
    color: white;
    height: 100vh;
    width: calc(100vw - 224px);
    outline: 1px solid blue;
    margin-left: 224px;
    display: grid;
    grid-template-columns: auto 319px;
}
aside{
    width: 100%;
}
main{
    width: 100%;
}
.nav-options{
    background-color: black;
    color: white;
    height: 100vh;
    width: 224px;
    outline: 1px solid darkgoldenrod;
    position: fixed;
}
.nav-options button, .list-options a{
    background-color: transparent;
    color: white;
    width: 100%;
    height: 100%;
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    font-size: 20px;
    display: grid;
    place-items: center;
    grid-template-columns: 70px auto;
    border: none;
}
.logo-insta a{
    grid-template-columns: auto;
}
.list-options li:hover{
    color: white;
    background-color: rgba(255, 255, 255, 0.36);
    cursor: pointer;
}
.list-options li{
    display: grid;
    place-items: center;
    border-radius: 15px;
    height: 70px;
}
